# Lab | Data Cleaning and Formatting

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

# Challenge 1: Data Cleaning and Formatting

## Exercise 1: Cleaning Column Names

To ensure consistency and ease of use, standardize the column names of the dataframe. Start by taking a first look at the dataframe and identifying any column names that need to be modified. Use appropriate naming conventions and make sure that column names are descriptive and informative.

*Hint*:
- *Column names should be in lower case*
- *White spaces in column names should be replaced by `_`*
- *`st` could be replaced for `state`*

In [27]:
import pandas as pd

url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'

df_insurance= pd.read_csv(url)

#1.Column names should be in lower case
df_insurance.columns = df_insurance.columns.str.lower()

#2.White spaces in column names should be replaced by _
df_insurance.columns = df_insurance.columns.str.replace(' ', '_')

# 3. st could be replaced for state
df_insurance.rename(columns={'st': 'state'}, inplace=True)

# Print new DF
print("DataFrame with new columns names :")
print(df_insurance.head())

DataFrame with new columns names :
  customer       state gender             education customer_lifetime_value  \
0  RB50392  Washington    NaN                Master                     NaN
1  QZ44356     Arizona      F              Bachelor              697953.59%
2  AI49188      Nevada      F              Bachelor             1288743.17%
3  WW63253  California      M              Bachelor              764586.18%
4  GA49547  Washington      M  High School or Below              536307.65%

    income  monthly_premium_auto number_of_open_complaints     policy_type  \
0      0.0                1000.0                    1/0/00   Personal Auto
1      0.0                  94.0                    1/0/00   Personal Auto
2  48767.0                 108.0                    1/0/00   Personal Auto
3      0.0                 106.0                    1/0/00  Corporate Auto
4  36357.0                  68.0                    1/0/00   Personal Auto

   vehicle_class  total_claim_amount
0  Four-Door Car            2.704934
1  Four-Door Car         1131.464935
2   Two-Door Car          566.472247
3            SUV          529.881344
4  Four-Door Car           17.269323

## Exercise 2: Cleaning invalid Values

The dataset contains columns with inconsistent and incorrect values that could affect the accuracy of our analysis. Therefore, we need to clean these columns to ensure that they only contain valid data.

Note that this exercise will focus only on cleaning inconsistent values and will not involve handling null values (NaN or None).

*Hint*:
- *Gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", which need to be standardized, for example, to "M" and "F".*
- *State abbreviations be can replaced with its full name, for example "AZ": "Arizona", "Cali": "California", "WA": "Washington"*
- *In education, "Bachelors" could be replaced by "Bachelor"*
- *In Customer Lifetime Value, delete the `%` character*

- *In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"*

In [41]:
#NB of uniques values in gender and state
print('Number of unique values before changing standardization of the values:')
print(df_insurance['gender'].unique())
print(df_insurance['state'].unique())

Number of unique values before changing standardization of the values:
[nan 'Female' 'Male']
['Washington' 'Arizona' 'Nevada' 'California' 'Oregon' nan]
float64

In [61]:
#1. Gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", which need to be standardized
  #Gender standardization
gender_replacements = {
    'F': 'Female',
    'M': 'Male',
    'Femal': 'Female',
    'female': 'Female',
    'Male': 'Male'
}
  #Gender remplacements
df_insurance['gender'] = df_insurance['gender'].replace(gender_replacements)
  #Print new gender
print("\nValues after standardization of the column Gender:")
print(df_insurance['gender'].unique())


#2. State abbreviations be can replaced with its full name, for example "AZ": "Arizona", "Cali": "California", "WA": "Washington"
  #Gender standardization
state_replacements = {
    'AZ': 'Arizona',
    'Cali': 'California',
    'WA': 'Washington'
}
  #State remplacements
df_insurance['state'] = df_insurance['state'].replace(state_replacements)
  #Print new gender
print("\nValues after standardization of the column State:")
print(df_insurance['state'].unique())


#3. In education, "Bachelors" could be replaced by "Bachelor"
  #Education remplacements
df_insurance['education'] = df_insurance['education'].replace('Bachelors', 'Bachelor')
  #Print new education
print("\nValues after standardization of the column Education:")
print(df_insurance['education'].unique())

#4. In Customer Lifetime Value, delete the % character

  #Datatype before deleting the %
print("Data type 'customer_lifetime_value' before modification:")
print(df_insurance['customer_lifetime_value'].dtype)

  #Modifying the data type (from float to string)
df_insurance['customer_lifetime_value'] = df_insurance['customer_lifetime_value'].astype(str)
print("Data type after the modification (from float to string):")
print(df_insurance['customer_lifetime_value'].dtype)

  #Customer Lifetime Value remplacements and rechanging the data type (from string to float)
df_insurance['customer_lifetime_value'] = df_insurance['customer_lifetime_value'].str.replace('%', '').astype(float)

# Print new 'Customer Lifetime Value' after modifications
print("\nValues after standardization of the column Customer Lifetime Value:")
print(df_insurance['customer_lifetime_value'].unique())


#5. In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"

  #Vehicle classs standardization
vehicle_class_replacements = {
    'Sports Car': 'Luxury',
    'Luxury SUV': 'Luxury',
    'Luxury Car': 'Luxury'
}

 #Vehicle class remplacements
df_insurance['vehicle_class'] = df_insurance['vehicle_class'].replace(vehicle_class_replacements)

  #Print new values in column vehicle class
print("\nValuesafter standardization of the column Vehicule class:")
print(df_insurance['vehicle_class'].unique())


  #Print new DF
print(df_insurance.head())

Values after standardization of the column Gender:
[nan 'Female' 'Male']

Values after standardization of the column State:
['Washington' 'Arizona' 'Nevada' 'California' 'Oregon' nan]

Values after standardization of the column Education:
['Master' 'Bachelor' 'High School or Below' 'College' 'Doctor' nan]
Data type 'customer_lifetime_value' before modification:
float64
Data type after the modification (from float to string):
object

Values after standardization of the column Customer Lifetime Value:
[       nan  697953.59 1288743.17 ... 2031499.76  323912.47  899704.02]

Valuesafter standardization of the column Vehicule class:
['Four-Door Car' 'Two-Door Car' 'SUV' 'Luxury' nan]
  customer       state  gender             education  customer_lifetime_value  \
0  RB50392  Washington     NaN                Master                      NaN
1  QZ44356     Arizona  Female              Bachelor                697953.59
2  AI49188      Nevada  Female              Bachelor               1288743.17
3  WW63253  California    Male              Bachelor                764586.18
4  GA49547  Washington    Male  High School or Below                536307.65

    income  monthly_premium_auto number_of_open_complaints     policy_type  \
0      0.0                1000.0                    1/0/00   Personal Auto
1      0.0                  94.0                    1/0/00   Personal Auto
2  48767.0                 108.0                    1/0/00   Personal Auto
3      0.0                 106.0                    1/0/00  Corporate Auto
4  36357.0                  68.0                    1/0/00   Personal Auto

   vehicle_class  total_claim_amount
0  Four-Door Car            2.704934
1  Four-Door Car         1131.464935
2   Two-Door Car          566.472247
3            SUV          529.881344
4  Four-Door Car           17.269323

## Exercise 3: Formatting data types

The data types of many columns in the dataset appear to be incorrect. This could impact the accuracy of our analysis. To ensure accurate analysis, we need to correct the data types of these columns. Please update the data types of the columns as appropriate.

It is important to note that this exercise does not involve handling null values (NaN or None).

*Hint*:
- *Customer lifetime value should be numeric*
- *Number of open complaints has an incorrect format. Look at the different values it takes with `unique()` and take the middle value. As an example, 1/5/00 should be 5. Number of open complaints is a string - remember you can use `split()` to deal with it and take the number you need. Finally, since it should be numeric, cast the column to be in its proper type.*

In [99]:
#Changing the data type of the colomun Customer lifetime value  (its already in float ???? Its not necessary to convert this column)
  #Check actual data type
if df_insurance['customer_lifetime_value'].dtype == 'float64':
    print("\nCustomer Lifetime Value is already in numerical format.")


#Changing the format of Number of open complaints

  #Replacing the value "nan" by 0/0/0
df_insurance['number_of_open_complaints'] = df_insurance['number_of_open_complaints'].fillna('0/0/0')

  #chaging the data type from object to string
df_insurance['number_of_open_complaints'] = df_insurance['number_of_open_complaints'].astype(str)

  #removing the slash: (préciser le fonctionnement)
df_insurance['number_of_open_complaints'] = df_insurance['number_of_open_complaints'].str.split('/').str[1]

  ##chaging the data type from string to integer
df_insurance['number_of_open_complaints'] = df_insurance['number_of_open_complaints'].fillna('0').astype(int)

  #print the data type print the head after modifcations
print("\nData type for Number of Open Complaints after modificatons :")
print(df_insurance['number_of_open_complaints'].dtype)

  #print the head after modifcations
print("Example of the values stored in the column Number of Open Complaints after modifications:")
print(df_insurance['number_of_open_complaints'].head())


#print("The data type of Number of Open Complaints is:")
#print(df_insurance['number_of_open_complaints'].dtype)
#print("Example of values in Number of Complaints:")
#print(df_insurance['number_of_open_complaints'].unique())

 #Changing "nan" by another value (0/0/0), change the format of Number of open complaints and convert the data type (from str to integer)
#df_insurance['number_of_open_complaints'] = df_insurance['number_of_open_complaints'].fillna('0/0/0')
#df_insurance['number_of_open_complaints'] = df_insurance['number_of_open_complaints'].astype(str)
#df_insurance['number_of_open_complaints'] = df_insurance['number_of_open_complaints'].str.split('/').str[1].astype(int)

 #Check the new format and data type
#print("\nData type of 'Number of Open Complaints' after modification :")
#print(df['number_of_open_complaints'].dtype)
#print("Example of values 'Number of Open Complaints' after modification :")
#print(df['number_of_open_complaints'].head())

Data type for Number of Open Complaints after modificatons :
int64
Example of the values stored in the column Number of Open Complaints after modifications:
0    0
1    0
2    0
3    0
4    0
Name: number_of_open_complaints, dtype: int64

## Exercise 4: Dealing with Null values

Identify any columns with null or missing values. Identify how many null values each column has. You can use the `isnull()` function in pandas to find columns with null values.

Decide on a strategy for handling the null values. There are several options, including:

- Drop the rows or columns with null values
- Fill the null values with a specific value (such as the column mean or median for numerical variables, and mode for categorical variables)
- Fill the null values with the previous or next value in the column
- Fill the null values based on a more complex algorithm or model (note: we haven't covered this yet)

Implement your chosen strategy to handle the null values. You can use the `fillna()` function in pandas to fill null values or `dropna()` function to drop null values.

Verify that your strategy has successfully handled the null values. You can use the `isnull()` function again to check if there are still null values in the dataset.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling null values.

After formatting data types, as a last step, convert all the numeric variables to integers.

In [113]:
print("Null values before filling :")
print(df_insurance.isnull().sum())

Null values before filling :
customer                     0
state                        0
gender                       0
education                    0
customer_lifetime_value      0
income                       0
monthly_premium_auto         0
number_of_open_complaints    0
policy_type                  0
vehicle_class                0
total_claim_amount           0
dtype: int64

In [115]:
#Supprimez les lignes ou les colonnes avec des valeurs nulles
#Remplissez les valeurs nulles avec une valeur spécifique
#ex: 
#moyenne ou mediane pour les variables numériques
#mode pour les variables catégorielle

#Implémentez la stratégie que vous avez choisie pour gérer les valeurs nulles. 
#Vous pouvez utiliser la fonction fillna() dans pandas pour remplir les valeurs

#Contexte: I've chose to fill the empty values with mean or median for numerical values, and mode for categorical variables
------
#1. Identify the columns with null values 
print("Null values before filling :")
print(df_insurance.isnull().sum())

# Dtermine numerical and categorical variables (if data type is float or interger --> numerical, and if data type is object --> categorical)
num_cols = df_insurance.select_dtypes(include=['float64', 'int64']).columns
cat_cols = df_insurance.select_dtypes(include=['object']).columns

# Étape 2 et 3 : Gérer les Valeurs Nulles
# Pour les colonnes numériques, remplir avec la moyenne
for col in num_cols:
    df_insurance[col] = df_insurance[col].fillna(df_insurance[col].mean())

# Pour les colonnes catégorielles, remplir avec le mode
for col in cat_cols:
    df_insurance[col] = df_insurance[col].fillna(df_insurance[col].mode()[0])

# Étape 4 : Vérifier que les Valeurs Nulles ont été Correctement Gérées
print("\nNull values after filling :")
print(df_insurance.isnull().sum())

# Étape 5 : Convertir Toutes les Variables Numériques en Nombres Entiers
for col in num_cols:
    df_insurance[col] = df_insurance[col].astype(int)

print("\nAperçu des données après conversion des colonnes numériques en entiers :")
print(df_insurance.head())

# Vérifier le type de données de chaque colonne
print("\nTypes de données des colonnes après conversion :")
print(df_insurance.dtypes)

SyntaxError: invalid syntax (200715723.py, line 11)

## Exercise 5: Dealing with duplicates

Use the `.duplicated()` method to identify any duplicate rows in the dataframe.

Decide on a strategy for handling the duplicates. Options include:
- Dropping all duplicate rows
- Keeping only the first occurrence of each duplicated row
- Keeping only the last occurrence of each duplicated row
- Dropping duplicates based on a subset of columns
- Dropping duplicates based on a specific column

Implement your chosen strategy using the `drop_duplicates()` function.

Verify that your strategy has successfully handled the duplicates by checking for duplicates again using `.duplicated()`.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling duplicates.

Save the cleaned dataset to a new CSV file.

*Hint*: *after dropping duplicates, reset the index to ensure consistency*.

In [114]:
# Étape 1 : Identifier les lignes en double
print("Nombre de doublons avant traitement :")
print(df_insurance.duplicated().sum())

# Afficher quelques exemples de lignes en double
print("\nExemples de lignes en double :")
print(df_insurance[df_insurance.duplicated()].head())

# Étape 2 : Choisir une stratégie pour gérer les doublons
# Pour cet exemple, nous allons supprimer toutes les lignes en double

# Étape 3 : Implémenter la stratégie choisie
df_insurance_cleaned = df_insurance.drop_duplicates()

# Réinitialiser l'index pour assurer la cohérence
df_insurance_cleaned.reset_index(drop=True, inplace=True)

# Étape 4 : Vérifier que les doublons ont été correctement gérés
print("\nNombre de doublons après traitement :")
print(df_insurance_cleaned.duplicated().sum())

# Étape 5 : Enregistrer le DataFrame nettoyé dans un nouveau fichier CSV
cleaned_file_path = 'cleaned_insurance_data.csv'
df_insurance_cleaned.to_csv(cleaned_file_path, index=False)

print(f"\nDataFrame nettoyé sauvegardé dans '{cleaned_file_path}'.")

# Afficher les premières lignes du DataFrame nettoyé
print("\nPremières lignes du DataFrame nettoyé :")
print(df_insurance_cleaned.head())

Nombre de doublons avant traitement :
2936

Exemples de lignes en double :
     customer       state  gender education  customer_lifetime_value  income  \
1072  AA71604  California  Female  Bachelor                   793690   39295
1073  AA71604  California  Female  Bachelor                   793690   39295
1074  AA71604  California  Female  Bachelor                   793690   39295
1075  AA71604  California  Female  Bachelor                   793690   39295
1076  AA71604  California  Female  Bachelor                   793690   39295

      monthly_premium_auto  number_of_open_complaints    policy_type  \
1072                   193                          0  Personal Auto
1073                   193                          0  Personal Auto
1074                   193                          0  Personal Auto
1075                   193                          0  Personal Auto
1076                   193                          0  Personal Auto

      vehicle_class  total_claim_amount
1072  Four-Door Car                 404
1073  Four-Door Car                 404
1074  Four-Door Car                 404
1075  Four-Door Car                 404
1076  Four-Door Car                 404

Nombre de doublons après traitement :
0

DataFrame nettoyé sauvegardé dans 'cleaned_insurance_data.csv'.

Premières lignes du DataFrame nettoyé :
  customer       state  gender             education  customer_lifetime_value  \
0  RB50392  Washington  Female                Master                   793690
1  QZ44356     Arizona  Female              Bachelor                   697953
2  AI49188      Nevada  Female              Bachelor                  1288743
3  WW63253  California    Male              Bachelor                   764586
4  GA49547  Washington    Male  High School or Below                   536307

   income  monthly_premium_auto  number_of_open_complaints     policy_type  \
0       0                  1000                          0   Personal Auto
1       0                    94                          0   Personal Auto
2   48767                   108                          0   Personal Auto
3       0                   106                          0  Corporate Auto
4   36357                    68                          0   Personal Auto

   vehicle_class  total_claim_amount
0  Four-Door Car                   2
1  Four-Door Car                1131
2   Two-Door Car                 566
3            SUV                 529
4  Four-Door Car                  17

# Bonus: Challenge 2: creating functions on a separate `py` file

Put all the data cleaning and formatting steps into functions, and create a main function that performs all the cleaning and formatting.

Write these functions in separate .py file(s). By putting these steps into functions, we can make the code more modular and easier to maintain.

*Hint: autoreload module is a utility module in Python that allows you to automatically reload modules in the current session when changes are made to the source code. This can be useful in situations where you are actively developing code and want to see the effects of changes you make without having to constantly restart the Python interpreter or Jupyter Notebook kernel.*

In [ ]:
# Your code here

# Bonus: Challenge 3: Analyzing Clean and Formated Data

You have been tasked with analyzing the data to identify potential areas for improving customer retention and profitability. Your goal is to identify customers with a high policy claim amount and a low customer lifetime value.

In the Pandas Lab, we only looked at high policy claim amounts because we couldn't look into low customer lifetime values. If we had tried to work with that column, we wouldn't have been able to because customer lifetime value wasn't clean and in its proper format. So after cleaning and formatting the data, let's get some more interesting insights!

Instructions:

- Review the statistics again for total claim amount and customer lifetime value to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount and a low customer lifetime value. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount, and clients with a low customer lifetime value to be those in the bottom 25% of the customer lifetime value. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile and a customer lifetime value in the bottom 25th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount and low customer lifetime value data. To do so, select both columns of the dataframe simultaneously and pass it to the `.describe()` method. This will give you descriptive statistics, such as mean, median, standard deviation, minimum and maximum values for both columns at the same time, allowing you to compare and analyze their characteristics.

In [ ]:
# Your code here